<table>
    <th><a href="."><img src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather03-512.png" alt="" style="width: 100px;height:100px;"></a></th>
    <th><a href=".">Home</a></th>
    <th><a href="/help">Help</a></th>
    <th><a href="/contact">contact</a></th>

</table>