<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <img src="https://cdn.dribbble.com/users/1963449/screenshots/5915645/404_not_found.png" alt="" srcset="" style="width: 600px;height: 400px;">
    {{>footer}}    
    
</body>