<head>
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <img src="https://www.pngitem.com/pimgs/m/255-2550411_404-error-images-free-png-transparent-png.png" alt="" srcset="">
    {{>footer}}
</body>