<!DOCTYPE html>
<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/weather.css">
</head>

<body>
    {{>header}}
    <form>
        <input type="text" placeholder="location">
        <button>Search</button>
    </form> 
    <!-----weather card--------->
    <div class="widget">
        {{!-- <form>
            <input type="text" name="" id="" placeholder="location">
            <button>Search</button>
        </form> --}}
        <div class="left-panel panel">
            <div class="date">
                Monday, 20 Aug 2018
            </div>
            <div class="temp">
                {{temp}}&deg;
            </div>
        </div>
        <div class="right-panel panel">
            <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
        </div>

    </div>
    
    {{>footer}}
    <script ype="text/javascript" src="/js/app.js"></script>
</body>


</html>