<head>
<link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/clouds/2x/windy-weather.png" />
</head>

<body>
    <h1>
        <table>
            <th><img src="https://img.icons8.com/clouds/2x/windy-weather.png" alt=""></th>
            <th>{{title}}</th>

        </table>
        <table id="card">
            <td>
            <th><a href=".">Home</a></th>
            <th><a href="/weather">Weather</a></th>
            <th><a href="/contact">Contact</a></th>
            <th><a href="/about">About</a></th>
            </td>

        </table>
    </h1>
</body>